pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_xyz]"
				},
				"linkedServiceName": {
					"referenceName": "SCDtype1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "error",
					"value": {
						"value": "@activity('Stored procedure1').error.message",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"error": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-08-04T05:20:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}