pipeline/SAP_Tables_Delta_Full_LOAD.json
{
	"name": "SAP_Tables_Delta_Full_LOAD",
	"properties": {
		"activities": [
			{
				"name": "Lookup for SAP tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLServer_Lookup_SAPtables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup for SAP tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup for SAP tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If condition for LoadType",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().LoadType,'full')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy from SAP table to stg DL",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SapTableSource",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlServerSink",
												"preCopyScript": {
													"value": "IF OBJECT_ID(@{item().SinkSchemaName}.{item().SinkTableName},'U') \nTRUNCATE TABLE @{item().SinkSchemaName}.{item().SinkTableName}",
													"type": "Expression"
												},
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "SAP_Source_tables",
												"type": "DatasetReference",
												"parameters": {
													"SourceName": {
														"value": "@item().SourceTableName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SQLServer_SAP_Tables",
												"type": "DatasetReference",
												"parameters": {
													"SinkSchemaName": {
														"value": "@item().SinkSchemaName",
														"type": "Expression"
													},
													"SinkTableName": {
														"value": "@item().SinkTableName",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "SCD type 2 SP stg to dbo",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy from SAP table to stg DL",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": []
									},
									{
										"name": "SP to update MD and DeltaCondition",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "SCD type 2 SP stg to dbo",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": []
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy from SAP source to stg",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SapTableSource",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlServerSink",
												"preCopyScript": {
													"value": "IF OBJECT_ID(@{item().SinkSchemaName}.{item().SinkTableName},'U') \nTRUNCATE TABLE @{item().SinkSchemaName}.{item().SinkTableName}",
													"type": "Expression"
												},
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "SAP_Source_tables",
												"type": "DatasetReference",
												"parameters": {
													"SourceName": {
														"value": "@item().SourceTableName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SQLServer_SAP_Tables",
												"type": "DatasetReference",
												"parameters": {
													"SinkSchemaName": {
														"value": "@item().SinkSchemaName",
														"type": "Expression"
													},
													"SinkTableName": {
														"value": "@item().SinkTableName",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Copy from stg to dbo",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Copy from SAP source to stg",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlServerSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "FullLoadin_stg",
												"type": "DatasetReference",
												"parameters": {
													"SourceTableName": {
														"value": "@item().SinkTableName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "FullLoadin_dbo",
												"type": "DatasetReference",
												"parameters": {
													"SinkTableName": {
														"value": "@item().SinkTableName",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "SP for update MD in full load",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy from stg to dbo",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[spFullLoadTypeMD]",
											"storedProcedureParameters": {
												"ModifiedDate": {
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													},
													"type": "String"
												},
												"SourceTableName": {
													"value": {
														"value": "@item().SourceTableName",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "VBRK_SQLTable",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}